
.toggleswitch__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 56px;
  height: 26px;
  margin: 38px 20px 0 0;
  background-color: #fff;
  border-radius: 22px;
  border: 1px solid #7e7e7e;
  cursor: pointer;
}

.toggleswitch {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.toggleswitch__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleswitch__f {
  margin-top: 33px;
  margin-right: 28px;
  z-index: 3;
}

.toggleswitch__c {
  margin-left: 31px;
  margin-top: -31px;
  z-index: 3;
}

.toggleswitch__slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  border-radius: 20px;
  width: 28px;
  height: 28px;
  transition: 0.4s;
}

.toggleswitch__slider:before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  left: 0;
  bottom: 0;
  color: white;
  margin: auto;
  background-color: #000;
  transition: 0.2s;
  border-radius: 20px;
}

.toggleswitch__container:hover {
  transition: ease-in 0.2s;
  border-color: #000;
}

.toggleswitch:hover {
  color: #000;
}

.toggleswitch__input:checked + .toggleswitch {
  color: white;
}

.toggleswitch__input:checked + .toggleswitch__slider:before {
  content: "C";
  transform: translateX(29px);
}

.toggleswitch__input + .toggleswitch__slider:before {
  content: "F";
}
