.modal__confirm {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0, 0.5);
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__confirm-container {
  width: 670px;
  height: 280px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.modal__confirm-close {
  width: 14px;
  height: 14px;
  background: url("../../images/close-icon.svg") center no-repeat;
  border: none;
  cursor: pointer;
  position: relative;
  top:23px;
  right: -307px;
}

.modal__messages-container {
 margin: 60px 0 40px 0;
}

.modal__message {
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px; 
  text-align: center; 
  color: #000000;
  margin: 0;
}

.modal__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__delete_confirm {
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FF4D00;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal__delete_cancel {
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  background: transparent;
  border: none;
  cursor: pointer;
}