.card {
  max-width: 328px;
  background: #e9e9e9;
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: center;
  padding: 18px 0 0 0 ;

}
.card__title {
  width: fit-content;
  background-color: #fff;
  text-align: center;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  color: #000;
  padding: 2px 12px 2px 12px;
  margin: 0;
  border-radius: 4px;
}

.card__image {
  max-width: 310px;
  border-radius: 19px;
  
}