.clothes__section {
  width: 1010px;
  display: flex;
  flex-direction: column;
}

.clothes__section-info {
  display: flex;
  margin: 16px 0 0 40px;
  
}

.clothes__section-title {
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #000;
  margin: 0;
}

.clothes__add-button {
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.clothes__section-items {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap:15.98px;
}